body {
    background-color: #1d2d3c;
}

nav {
    background-color: #06131f;
    padding: 0.5rem 0;
}

.logo-container i {
    color: #18d860;
    font-size: 1.5rem;
}

.my-container {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    max-width: calc(100% / 3 - 1.5rem);
    background-color: #112030;
    border-radius: 0.375rem;
}

.title {
    font-size: 0.9rem;
}

.author {
    font-size: 0.7rem;
}

.year {
    font-size: 0.8rem;
}
